/* فونت پیشنهادی */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('/static/images/0.jpg') no-repeat center center/cover;
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.form-container {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 15px 20px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #ffeeee;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: none;
  border-radius: 8px;
  background: rgba(230, 230, 230, 0.1);
  color: #fff;
}

.input-group input::placeholder {
  color: #ffffff;
}

.input-group i {

  position: absolute;
  right: 12px;
  top: 38px;
  color: #ffffff;
}

button {
  width: 100%;
  padding: 12px;
  background: #fff;
  color: #6c5ce7;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #dfe6e9;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #fff;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin-bottom: 15px;
  padding: 0;
}

.success {
  color: lightgreen;
}

.error {
  color: #ff6b6b;
}

